html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h2 {
	margin: 0 0 10px 0;
}

h3 {
	margin: 0;
}

.box {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#calendar {
	width: 100%;
	display: table;
	content: " ";
}

#month, #weekdays-lg, #weekdays-sm, #weeks, #days {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	content: " ";
	list-style-type: none;
}

#weekdays-lg, #weekdays-sm {
	display: none;
	height: 30px;
}

#month {
	margin-bottom: 10px;
}

#month li, #weekdays-lg li, #weekdays-sm li {
	float: left;
	text-align: center;
}

.day-cell {
	float: left;
	padding: 5px;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

#days .day-cell:last-child {
	border-right: 1px solid black;
}

#days:last-child .day-cell {
	border-bottom: 1px solid black;
}

#last-cell {
	border-right: 1px solid black;
}

.empty-cell {
	float: left;
	border-top: 1px solid black;
}

.day-cell:hover {
	cursor: pointer;
	background-color: #ececec;
	transition: 0.15s linear;
}