html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h3 {
	margin: 0 0 10px 0;
}

h5 {
	margin: 5px 0 5px 0;
}

h5:first-child {
	margin-top: 0;
}

#wrapper {
	margin: auto;
	padding: 0 15px 0 15px;
}

#class-info span {
	display: block;
}

.well table {
	margin-bottom: 0;
}

.well table span {
	margin-right: 5px;
}

#participants {
	display: none;
}

#participants img {
	margin-right: 5px;
}

#center {
	margin: auto;
	text-align: center;
}

#calendar {
	display: table;
	content: " ";
}

#month, #weekdays, #days {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#month li, #weekdays li, #days li {
	float: left;
	text-align: center;
}

#options {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#options a span {
	padding: 5px;
	margin-right: 5px;
}