html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0 0 10px 0;
}

.container {
	margin-bottom: 20px;
}

.col-sm-4, .col-sm-8, .col-sm-1 {
	padding: 0;
}

.col-sm-8 .form-group:last-child {
	margin-bottom: 0;
}

.col-sm-11 {
	padding-right: 0;
}

.question {
	margin-bottom: 15px;
}

.question .panel-body ul {
	margin: 0;
	padding-left: 20px;
}

.question-button {
	margin-left: 6px;
}

.row:last-child {
	padding: 0 15px 0 15px;
}

.pagination {
	margin: 0;
}

#submit {
	float: right;
}

/*.day, .month, .year, .hours, .minutes {
	color: #555;
	height: 34px;
	font-size: 14px;
	padding: 6px 12px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}*/