html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0 0 10px 0;
}

.container {
	margin-bottom: 20px;
}

.col-sm-4, .col-sm-1 {
	padding: 0;
}

.col-sm-8 {
	padding-right: 0;
}

@media (max-width: 768px) {
	.col-sm-8 {
		padding: 0;
	}
}

.col-sm-8 .form-group:last-child {
	margin-bottom: 0;
}

.col-sm-11 {
	padding-right: 0;
}

.question {
	margin-bottom: 15px;
}

.question .panel-body ul {
	margin: 0;
	padding-left: 20px;
}

.question-button {
	margin-left: 5px;
}

.row:last-child {
	padding: 0 15px 0 15px;
}

.pagination {
	margin: 0;
}

#submit {
	float: right;
}