html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h3 {
	margin: 0 0 10px 0;
}

#wrapper {
	margin: auto;
	padding: 0 15px 0 15px;
}

#user-img {
	margin: auto;
	margin-bottom: 15px;
}

#username, #start, #finish {
	padding: 5px;
	display: block;
}

#username {
	padding-top: 0;
}

.question {
	margin: 0;
}

.radio {
	margin: 0 0 10px 0;
}

.radio:last-child {
	margin-bottom: 0;
}

.pagination {
	float: right;
	margin: 0 0 20px 0;
}














