html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h3 {
	margin: 0 0 10px 0;
}

h5 {
	margin: 5px 0 5px 0;
}

h5:first-child {
	margin-top: 0;
}

#wrapper {
	margin: auto;
	padding: 0 15px 0 15px;
}

#username, #name, #email {
	padding: 5px;
	display: block;
}

#username {
	padding-top: 0;
}

#email {
	padding-bottom: 0;
}

#user-info .well .row {
	margin-bottom: 5px;
	padding: 0 15px 0 15px;
}

#user-info .well .row:last-child {
	margin-bottom: 0;
}

#user-img {
	margin: auto;
	margin-bottom: 15px;
}

#user-class-exam table:last-child {
	margin-bottom: 0;
}

#user-class-exam table span {
	margin-right: 5px;
}

#calendar {
	display: table;
	content: " ";
}

#month, #weekdays, #days {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#month li, #weekdays li, #days li {
	float: left;
	text-align: center;
}

#options {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#options a span {
	padding: 5px;
	margin-right: 5px;
}
