html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0 0 0 15px;
}

.user, .user-info, .user-options {
	padding: 15px;
}

.user-box {
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

.profile-img {
	margin: auto;
}

.user {
	background-color: 
}

.user span {
	padding: 10px;
	display: block;
	max-width: 100%;
}

.user-info .panel:last-child {
	margin-bottom: 0;
}

#description {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

#description h3 {
	margin: 0 0 15px 0;
}

#description span {
	text-align: justify;
	padding: 0 5px 0 5px;
}

tbody span {
	margin-right: 5px;
}

.options a {
	margin: 5px;
	display: block;
}

.options span {
	margin-right: 5px;
}

.events {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

.event-h5 {
	margin-top: 0;
}

#calendar {
	padding: 15px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

#calendar-options {
	width: 100%;
}

.options-block {
	float: left;
}

.options-block a {
	text-align: center;
    display: block;
    margin: 0 auto;
}

#calendar-grid {
	width: 100%;
}

.calendar-row {
	width: 100%;
}

.day-cell {
	float: left;
	text-align: center;
}

.calendar-cell {
	float: left;
	text-align: center;
}

.empty-cell {
	float: left;
}

.options {
	padding: 15px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

.options ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
