.container {
    margin-top: 20px;
}

h1 {
    margin: 0 0 0 15px;
}

.user, .exam {
    padding: 15px;
}

.profile-img {
    margin: auto;
}

.user-box {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
}

.user span {
    padding: 10px;
    display: block;
    max-width: 100%;
}

.user button {
    margin: 10px;
}

.question-group .panel, .question-group .panel-body {
	padding: 0;
}

.question {
    margin: 0;
    border-radius: 0;
}

.radio {
	margin: 15px;
}

.question-group {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.flag {
    width: 3%;
    float: left;
    display: block;
}

.question-panel {
    width: 97%;
    float: left;
    display: block;
}