body {
	padding-top: 70px;
}

h1 {
	margin: 0 0 0 15px;
}

.user, .user-info, .user-options {
	padding: 15px;
}

.user-box {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

.profile-img {
	margin: auto;
}

.user {
	background-color: 
}

.user span {
	padding: 10px;
	display: block;
	max-width: 100%;
}

.user-info .panel:last-child {
	margin-bottom: 0;
}

.options a {
	margin: 5px;
	display: block;
}

.navbar {
	border-radius: 0;
}

.navbar-form {
	margin: 0;
	padding: 0;
}

.input-group {
	padding: 8px 15px;
}

.calendar {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

.calendar, .calendar-table, .calendar-header {
	width: 100%;
}

.month {
	width: 33%;
	float: left;
}

.arrow-left, .arrow-right {
	width: 33%;
	float: left;
	margin: 0;
}

.options {
	padding: 15px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
}

.options ul {
	margin-bottom: 0;
}












