h1 {
	margin: 0 0 0 15px;
}

.user, .user-info, .user-options {
	padding: 15px;
}

.user span {
	padding: 10px;
	display: block;
	max-width: 100%;
}

.user-options a {
	margin: 5px;
	display: block;
}

.navbar {
	border-radius: 0;
}

.navbar-form {
	margin: 0;
	padding: 0;
}

.input-group {
	padding: 8px 15px;
}